@media (max-width: 768px) {
    .header {
        flex-wrap: wrap; /* Wrap links to fit smaller screens */
        padding: 10px;
    }

    .nav {
        font-size: 14px; /* Adjust font size for smaller screens */
        padding: 8px 10px;
    }

    .logo {
        height: 60px; /* Scale down logo */
    }

    .rectangle{

    }
}

/* Define the keyframes for rotation */
@keyframes spin {
    from {
        transform: rotate(0deg); /* Start at 0 degrees */
    }
    to {
        transform: rotate(360deg); /* End at 360 degrees */
    }
}
