@import url("https://fonts.googleapis.com/css?family=Pixelify Sans");
@import url("https://fonts.googleapis.com/css?family=Press Start 2P");
@import url("https://fonts.googleapis.com/css?family=Questrial");

body {
  background-color: #8A9A5B;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main-contents{
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: row;
    width: 1500px;
    position: sticky;
    align-items: right;
    top: 0;
    z-index: 1000;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px;
}

.logo{
  height: 170px;
  margin-top: 100px;
  padding: 5px;
  top: 0;
  position: fixed;

}

.headshot{
    height: 450px;
}

.nav{
    text-decoration: none;
    color: #fcfffa; /*white*/
    font-size: 18px;
    background-color: #8A9A5B;
    margin: 5px;
    /*flex-basis: 100%;*/
    font-family: 'Press Start 2P';
    transition: background-color 0.3s ease;
    padding: 10px 15px;
}

.nav:hover {
    background-color: #c2d4a7; /* Slightly lighter green for hover */
}

.pdf {
        width: 100%;
        aspect-ratio: 4 / 3;
        height: 100%;
        margin: 0;
        padding: 0;
}

.rectangle {
    width: 1500px;
    height: 100%;
    background-image: linear-gradient(#e07ea7, #e591b3, #eaadc6, #f2cfdb, #f8eaed, #fcfffa);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    top: 100px;

}


.contents{
    margin-top: 100px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.intro{
    width: 450px;
    padding-right: 20px;
}

.main-page{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}

h1 {
  color: #fcfffa;
  font-size: 4.5em;
  text-align: left;
  margin-left: 30px;
  text-shadow:
          -1px -1px 0 #8A9A5B,
          1px -1px 0 #8A9A5B,
          -1px 1px 0 #8A9A5B,
          1px 1px 0 #8A9A5B;
  font-family: 'Pixelify Sans';

}

h2 {
  font-size: 2.5em;
  text-align: center;
}

h3 {
  font-size: 2em;
  text-align: left;
}

p,
.text,
ul,
li,
label {
  color: #56463A;
  margin-right: 10px;
  font-size: 30px;
  font-family: 'Questrial';
  margin-left: 30px;
}